  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
    <table>
      <th>
      <td>index</td>
      <td>param</td>
      <td>value</td>
    </th>
    <%= for {index, param, value} <- @params do %>
    <tr>
      <td><%= index %></td>
      <td><%= param %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </table>
